.account-general-div{
    width: 100% !important;
}
.firstname-container{
    width: 50% !important;
    height: 70px;
    border: 2px solid  rgb(251,87,3);
    border-radius: 5px;
    margin-bottom: 50px;
}
.h3-account{
    color: rgb(251,87,3) !important;
    font-size: 20px;
    margin-bottom: 20px;
}

.video{
    position: fixed;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -100;
}
.first{
    font-size: 300%;
    color: navajowhite;
}
.second{
    font-size: 200%;
    color: red;
}
.icon-general-div{
    height: 100px;
    width: 100px;
    /* background-color: black; */
    position: fixed;
    top: 500px;
    left: 1250px;
    display: block;
}
.home-icon{
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border-radius: 50%;
    background-color: rgb(251,87,3);
    cursor: pointer;
    margin-bottom: 10px;
}
.cart-icon{
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border-radius: 50%;
    background-color: rgb(251,87,3);
    cursor: pointer;
}
@media only screen and (max-width: 1000px) {
    .account-general-div{
        width: 100% !important;
    }
    .firstname-container{
        width: 90% !important;
        height: 70px;
        border: 2px solid  rgb(251,87,3);
        border-radius: 5px;
        margin-bottom: 50px;
    }
    .h3-account{
        color: rgb(251,87,3) !important;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .first{
        font-size: 300%;
        color: navajowhite;
    }
    .second{
        font-size: 200%;
        color: red;
    }
    .icon-general-div{
       
        display: none;
    }
    .home-icon{
        width: fit-content;
        height: fit-content;
        padding: 5px;
        border-radius: 50%;
        background-color: rgb(251,87,3);
        cursor: pointer;
        margin-bottom: 10px;
    }
    .cart-icon{
        width: fit-content;
        height: fit-content;
        padding: 5px;
        border-radius: 50%;
        background-color: rgb(251,87,3);
        cursor: pointer;
    }
}