.account-general-div{
    width: 100% !important;
}
.firstname-container{
    width: 50% !important;
    height: 70px;
    border: 2px solid  rgb(251,87,3);
    border-radius: 5px;
    margin-bottom: 50px;
}
.h3-account{
    color: rgb(251,87,3) !important;
    font-size: 20px;
    margin-bottom: 20px;
}


@media only screen and (max-width: 1000px) {
    .account-general-div{
        width: 100% !important;
    }
    .firstname-container{
        width: 90% !important;
        height: 70px;
        border: 2px solid  rgb(251,87,3);
        border-radius: 5px;
        margin-bottom: 50px;
    }
    .h3-account{
        color: rgb(251,87,3) !important;
        font-size: 20px;
        margin-bottom: 20px;
    }
}