.general-div-home-nav{
    width: 100% !important;
    height: 70px;
    background-color: rgb(251,87,3);
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%);
}
#sideNavBar{ 
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%);
}
.side-nav-btn{
  padding-top: 15px;
  margin-left: 50px;
  width: fit-content;
  font-size: 30px;
  /* cursor: pointer; */
}
.side-nav-btn-close{
  margin-left: 80% !important;
  margin-top: 30px;
  font-size: 50px;
  /* cursor: pointer; */
}
li{
  list-style: none;
}
.link-sidenav-li{
  text-decoration: none;
  color: rgb(251,87,3);
  font-size: 20px;
}
.fa-house-div{
   font-size: 40px;
   margin-top: -60px;
   margin-left: 100px;
}
.fa-house{
  font-size: 30px;
  color: white !important;
  margin-top: 13px;
  margin-left: 500px;
}
.fa-cart-shopping{
  font-size: 30px;
  color: white !important;
  margin-top: 13px;
  margin-left: 600px;
}
@media only screen and (max-width: 1000px) {
  .side-nav-btn{
    padding-top: 15px;
    margin-left: 20px;
    width: fit-content;
  }
  #sideNavBar{ 
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%);
  }
  .fa-house{
    font-size: 30px;
    color: white !important;
    margin-top: 13px;
    margin-left: 70px;
  }
  .fa-cart-shopping{
    font-size: 30px;
    color: white !important;
    margin-top: 14px;
    margin-left: 100px;
  }
}