.landing-page-first-div{
    background-color: rgb(251,87,3);
    width: 90% !important;
    height: fit-content !important;
    margin-left: 70px;
}


@media only screen and (max-width: 1000px) {
  .landing-page-first-div{
    background-color: rgb(251,87,3);
    width: 100% !important;
    height: fit-content !important;
    margin-left: 0px;
}
}