.general-div-product-details-page{
    width: 90% !important;
    height: fit-content !important;
    margin-left: 70px;
}
.small-img-product-details{
    width: 100px;
    display: inline;
}
.big-img-product-details{
    width: 300px;
    margin-left: 200px;
    margin-top: -100px;
}
.productname{
    padding-top: 70px;
}
.productprice{
    color:rgb(251,87,3) !important;
    font-size: 30px;
    font-weight: 500;
}
.div2-product-div{
    margin-left: 0px;
}
@media only screen and (max-width: 1000px) {
    .general-div-product-details-page{
        width: 100% !important;
        height: fit-content !important;
        margin-left: 0px;
    }
    .small-img-product-details{
        display: none;
    }
    .big-img-product-details{
        width: 200px;
        margin-left: 20px;
        margin-top: 10px;
    }
    .div2-product-div{
        margin-left: 10px;
    }
}